h1.display-4 Número de descargas
ul.list-group
    each val in ImageCount
        li.list-group-item.d-flex.justify-content-between.align-items-center.blockquote.text-center #{val.name}
            span.badge.badge-primary.badge-pill #{val.count}
div.m-2
     a.btn.btn-icon.btn-icon-center.btn-primary(href='/images/')='Regresar'

